* {
  box-sizing: border-box;
}
#main-content{
  background-color:#f7f7f7;
}
body {
  font-family:  "Poppins", sans-serif;
  line-height: 1.6;
  margin: 0;
}
#headersection {
  background-color: #1d2951;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li{
  margin-right:px;
}
a {
  text-decoration: none;
}
.main-nav {
  margin-top: 10px;
}
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: white;
}
button#login:hover{
  background-color: white;
}
button.block{
  display: block;
  width: 100%;
  border: none;
  border-radius: 30px;
  background-color: rgb(61, 165, 217);;
}
button{
  margin-right: 20px;
  color: white;
  height: 50px;
  width: 100px;
}
button#login{
  background-color: transparent;
}
button.border{
  border-width: 1px;
  border-color: white;
  border-radius: 20px;
}
ul li.active {
  list-style: disc;
  color: #007bff;
}
.header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.empty-space{
  height: 32px;
}
.span-text{
  font-size: 14px; 
  font-family: Poppins, sans-serif;
  font-weight: 400;
    color: #000000;
}
a{
  color: white;
  font: 14px "Nunito", sans-serif;
}
.quote-img{
  width:30px; 
  margin: 10px 191.672px 0px 191.656px;
}
.div-cookie{
  font-size: 15px;
  margin: 0 auto;
  padding: 12px 10px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  z-index: 9999;
  left: 0;
  font-weight: 300;
  box-shadow: 0 -1px 10px 0 rgb(172 171 171 / 30%);
}
.fa{
  padding: 10px;
  margin: 0px 14px 0px 0px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 40px;
  background: #ffff;
  color: black;
}
@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
    .header {
      width: 80%;
      margin: 0 auto;
      max-width: 1150px;
    }
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}